
</div>
    <div class="container-fluid">
    <div class="media-body">
      <h1 class="media-heading">Welcome to C++</h1>
      <p>This web application is designed to teach and reinforce key concepts of C++ and Object Oriented Programming by combining education tools
      such as Algorithm Visualization and quiz questions to solidify and strengthen C++ knowledge and understanding.</p>
      <br/>
      <p>Please select a topic below to get started:</p>
      <ul class = "topic-menu">
        <li><%= link_to('Sign In', new_user_session_path, class: "nav-link")  %><%= link_to('Sign In', new_user_session_path, class: "nav-link")  %></li>
        <li><%= link_to('Sign In', new_user_session_path, class: "nav-link")  %></li>
        <li><%= link_to('Sign In', new_user_session_path, class: "nav-link")  %></li>
        <li><%= link_to('Sign In', new_user_session_path, class: "nav-link")  %></li>
        
      </ul>
      
    </div>
</div>
  
  </div>
</div>